{% extends 'main.html' %}
{% load static %}

{% block title %}
    Profile Form
{% endblock title %}

{% block content %}

<section id="profile-form">
    <div class="container" style="max-width: fit-content;">
        <div class="row">
            <div class="col-md">
                <div class="card-body rounded">
                        <h3 class="fw-bold mb-5">Edit your profile</h3>
                        <div class="form-group">
                            <form method="POST" action="{% url 'edit_account' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.as_p}}               
                                <br>
                                <!-- Submit -->
                                <input class="btn btn-primary py-2 w-100" type="submit" value="Save"></input>
                            </form>
                        </div> 
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}